<div class="container song-card">
  <div class="row">
    <h1 class="text-white">Songs</h1>
    <div class="col-md-12 mt-3">
      <div
        #scrollDiv
        class="harshScrollbar"
        style="
          gap: 70px;
          overflow-x: auto;
          display: flex;
          flex-direction: row;
          scroll-behavior: smooth;
        "
      >
        <div class="card spotify-card green-card">
          <img
            src="/assets/spotifyLogo.png"
            class="card-img-top"
            alt="Album Cover"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Song Name 1</h5>
            <p class="card-text">Song Description 1</p>
            <button class="btn btn-success play-pause-btn">
              <i class="fas fa-play"></i>
            </button>
          </div>
        </div>
        <div class="card spotify-card green-card">
          <img
            src="/assets/spotifyLogo.png"
            class="card-img-top"
            alt="Album Cover"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Song Name 2</h5>
            <p class="card-text">Song Description 2</p>
            <button class="btn btn-success play-pause-btn">
              <i class="fas fa-play"></i>
            </button>
          </div>
        </div>
        <div class="card spotify-card green-card">
          <img
            src="/assets/spotifyLogo.png"
            class="card-img-top"
            alt="Album Cover"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Song Name 3</h5>
            <p class="card-text">Song Description 3</p>
            <button class="btn btn-success play-pause-btn">
              <i class="fas fa-play"></i>
            </button>
          </div>
        </div>
        <div class="card spotify-card green-card">
          <img
            src="/assets/spotifyLogo.png"
            class="card-img-top"
            alt="Album Cover"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Song Name 4</h5>
            <p class="card-text">Song Description 4</p>
            <button class="btn btn-success play-pause-btn">
              <i class="fas fa-play"></i>
            </button>
          </div>
        </div>
        <div class="card spotify-card green-card">
          <img
            src="/assets/spotifyLogo.png"
            class="card-img-top"
            alt="Album Cover"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Song Name 5</h5>
            <p class="card-text">Song Description 5</p>
            <button class="btn btn-success play-pause-btn">
              <i class="fas fa-play"></i>
            </button>
          </div>
        </div>
        <div class="card spotify-card green-card">
          <img
            src="/assets/spotifyLogo.png"
            class="card-img-top"
            alt="Album Cover"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Song Name 6</h5>
            <p class="card-text">Song Description 6</p>
            <button class="btn btn-success play-pause-btn">
              <i class="fas fa-play"></i>
            </button>
          </div>
        </div>
        <div class="card spotify-card green-card">
          <img
            src="/assets/spotifyLogo.png"
            class="card-img-top"
            alt="Album Cover"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Song Name 7</h5>
            <p class="card-text">Song Description 7</p>
            <button class="btn btn-success play-pause-btn">
              <i class="fas fa-play"></i>
            </button>
          </div>
        </div>

        <div class="card spotify-card green-card">
          <img
            src="/assets/spotifyLogo.png"
            class="card-img-top"
            alt="Album Cover"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Song Name 9</h5>
            <p class="card-text">Song Description 9</p>
            <button class="btn btn-success play-pause-btn">
              <i class="fas fa-play"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
