<div class="container">
  <div class="login_container">
    <div>
      <label> <strong> Email Address or Username</strong></label> <br />
      <input type="text" placeholder="emial@email.com" />
    </div>
    <div>
      <label> <strong>Password</strong> </label> <br />
      <input type="password" placeholder="password" /> <br />
      <label class="mt-3">
        <a style="text-decoration: underline">Forgot Password?</a>
      </label>
    </div>
    <button class="login_btn">Login</button>
    <!-- timestamp : 1:15:29 -->
  </div>
</div>
