<div class="spotifyhome_container row">
  <div class="spotifyhome_container_sidebar col-2">
    <div class="spotifyhome_container_sidebar_items">
      <img
        width="150"
        src="/assets/spotifyLogo.png"
        alt=""
        class="spotify_black_logo m-4 text-left"
      />
    </div>
    <div class="spotifyhome_container_sidebar_items">
      <a href="">Home</a>
    </div>
    <div class="spotifyhome_container_sidebar_items">
      <a href="">Search</a>
    </div>
    <div class="spotifyhome_container_sidebar_items">
      <a href="">Library</a>
    </div>
    <div class="spotifyhome_container_sidebar_items">
      <a href="">Create Playlist</a>
    </div>
  </div>
  <div class="spotifyhome_container_playlist-container col-10">
    <app-top-navbar></app-top-navbar>
    <app-song-card></app-song-card>
  </div>
</div>
